<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kkb.mybatis.mapper.UserMapper">
	<select id="findUserById" parameterType="java.lang.Integer" resultType="user">
		SELECT * FROM user WHERE id = #{id}
	</select>

	<!-- 自定义条件查询用户列表 -->
	<select id="findUserByUsername" parameterType="java.lang.String" 
			resultType="com.kkb.mybatis.po.User">
	   select * from user where username like '%${value}%' 
	</select>

	<!-- 添加用户 -->
	<!-- <insert id="insertUser" parameterType="com.kkb.mybatis.po.User">
	  insert into user(username,birthday,sex,address)
	  values(#{username},#{birthday},#{sex},#{address})
	</insert> -->

	<insert id="insertUser" parameterType="com.kkb.mybatis.po.User">
		<!-- selectKey将主键返回，需要再返回 -->
		<selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
			select LAST_INSERT_ID()
		</selectKey>
	   insert into user(username,birthday,sex,address)
	    values(#{username},#{birthday},#{sex},#{address});
	</insert>

	<!-- 删除用户 -->
	<delete id="deleteUserById" parameterType="int">
		delete from user where id=#{id}
	</delete>

	<!-- 更新用户 -->
	<update id="updateUser" parameterType="User">
		update user set username=#{username},birthday=#{birthday},sex=#{sex},address=#{address}
		where id=#{id}
	</update>
</mapper>